body {
	max-width: 415px;
	margin: 0 auto;
	overflow: scroll;
}

.state-content {
	margin: 0 auto;
	width: 82%;
	margin-top: 30px;
	p{
		text-indent:2em;
		color:#555555;
		font-size: 16px;
		margin-bottom: 0;
	}
}